<%= form_for(@conference) do |f| %>
  <%= f.error_messages %>
  
  <div class="field">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </div>
  
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>