<% title @submission.title %>

<% unless @submission.authorships.nil? %>
<ul>
  <% @submission.authors.each do |auth| %>
    <li><%= link_to auth.full_name, auth %></li>
  <% end %>
</ul>
<% end %>

<div id="add_author_form">
  <%= form_for(Authorship.new) do |f| %>
    <div class="field">
      <%= f.collection_select :author_id, Author.all, :id, :full_name, :prompt => "Select an author." %>
      
      <%= f.hidden_field :submission_id, :value => @submission.id %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%= @submission.body %>

<%= image_tag @submission.image.url %>

<p id="pdf_link">
  <%= link_to "PDF Version", submission_url(@submission, :format => "pdf") %>
</p>
