<% title @submission.title %>

<div id="status">
  Status: <%= @submission.state.humanize %>
  Conference: <%= @submission.conference.name %>
</div>

<ul>
  <% @submission.authors.each do |auth| %>
    <li><%= link_to auth.full_name, auth %></li>
  <% end %>
  <li class="no_pdf"><%= link_to "Add an author", new_submission_authorship_url(@submission) %></li>
</ul>

<%= @submission.body %><br />

<%= image_tag @submission.image.url(:publishable) unless @submission.image_file_name.nil? %>

<p id="pdf_link">
  <%= link_to "PDF Version", submission_url(@submission, :format => "pdf") %>
</p>

<% if @submission.pending_submission? %>
  <p>
    <%= button_to "Submit for approval", submit_submission_url(@submission), :method => :put, :class => :no_pdf %>
  </p>
<% end %>